/***********
 * GENERAL *
 ***********/

body {
    background: rgb(245, 217, 229);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(245, 217, 229, 1) 0%, rgba(226, 138, 175, 1) 50%, rgba(223, 103, 153, 1) 51%, rgba(246, 182, 209, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(245, 217, 229, 1) 0%, rgba(226, 138, 175, 1) 50%, rgba(223, 103, 153, 1) 51%, rgba(246, 182, 209, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(245, 217, 229, 1) 0%, rgba(226, 138, 175, 1) 50%, rgba(223, 103, 153, 1) 51%, rgba(246, 182, 209, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5d9e5', endColorstr='#f6b6d1', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #292F33;
}

/*************
 * TITLE BAR *
 *************/

#minimize-btn {
    color: #292F33;
}

#minimize-btn:hover {
    color: #E81C4F;
}

#close-btn {
    color: #292F33;
}

#close-btn:hover {
    color: #E81C4F;
}


/********
 * MAIN *
 ********/

ul.tabs li {
    background-color: #f080ae;
}

ul.tabs li:hover {
    background-color: #F9B8D2;
}

ul.tabs li.current {
    background: #F9B8D2;
}

.tab-content {
    background: #FFF;
    border: solid 4px #F9B8D2;
}

.loading {}

.loading.icon {
    background: url(../../icons/loadingBlack.svg);
    background-repeat: no-repeat;
    background-size: 50px;
}

/*********
 * PROXY *
 *********/

#startproxy {
    background: #F9B8D2;
}

#startproxy:hover {
    background: #FFD2E4;
}

/********
 * LOGS *
 ********/

.log-contents {
    background-color: #F9B8D2;
    color: #292F33;
}

#clear-logs {
    color: #292F33;
}

#clear-logs:hover {
    color: #E81C4F;
}

/***********
 * MODULES *
 ***********/

ul.ModulesList li {
    background-color: #F9B8D2;
}

#modInfo li {
    background-color: #282A2d;
}

.butn {
    background: #F9B8D2;
    background-image: -webkit-linear-gradient(top, #F9B8D2, #f080ae);
    background-image: -moz-linear-gradient(top, #F9B8D2, #f080ae);
    background-image: -ms-linear-gradient(top, #F9B8D2, #f080ae);
    background-image: -o-linear-gradient(top, #F9B8D2, #f080ae);
    background-image: linear-gradient(to bottom, #F9B8D2, #f080ae);
    color: black;
}

.butn:hover {
    background: #e4669b;
}

.butn:active {
    background: #F9B8D2;
}

.moduleHeader {
    border-color: #FFF;
    background-color: #F9B8D2;
}

.moduleHeader:hover {
    background-color: #f080ae;
}

.moduleHeader.active {
    background-color: #f080ae;
}

.moduleHeader.active:hover {
    background-color: #f080ae;
}

.moduleBody {}

.moduleBody.buttons {}

.moduleBody.buttons.donate {
    background: url(../../icons/donateWhite.png);
    background-repeat: no-repeat;
    background-size: 28px;
}

.moduleBody.buttons.donate:hover {
    background-size: 30px;
}

.moduleBody.buttons.info {
    background: url(../../icons/infoWhite.svg);
    background-repeat: no-repeat;
    background-size: 25px;
}

.moduleBody.buttons.info:hover {
    background-size: 27px;
}

.moduleBody.buttons.uninstall {
    background: url(../../icons/deleteWhite.png);
    background-repeat: no-repeat;
    background-size: 28px;
}

.moduleBody.buttons.uninstall:hover {
    background-size: 30px;
}

.moduleBody.buttons.updateEnabled {
    background: url(../../icons/updateEnabledWhite.svg);
    background-repeat: no-repeat;
    background-size: 26px;
}

.moduleBody.buttons.updateEnabled:hover {
    background-size: 28px;
}

.moduleBody.buttons.updateDisabled {
    background: url(../../icons/updateDisabledWhite.svg);
    background-repeat: no-repeat;
    background-size: 26px;
}

.moduleBody.buttons.updateDisabled:hover {
    background-size: 28px;
}

.moduleBody.buttons.loadEnabled {
    background: url(../../icons/loadEnabledWhite.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    margin-top: 2px;
}

.moduleBody.buttons.loadEnabled:hover {
    background-size: 26px;
}

.moduleBody.buttons.loadDisabled {
    background: url(../../icons/loadDisabledWhite.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    margin-top: 2px;
}

.moduleBody.buttons.loadDisabled:hover {
    background-size: 26px;
}

/***********************
 * INSTALLABLE MODULES *
 ***********************/

.installableModulesFilters>label>input[type=text] {
    color: #292F33;
    border-color: #F9B8D2;
    background-color: #F9B8D2;
}

.installableModuleHeader {
    border-color: #FFF;
    background-color: #F9B8D2;
}

.installableModuleHeader:hover {
    background-color: #f080ae;
}

.installableModuleBody {}

.installableModuleBody.buttons {}

.installableModuleBody.buttons.install {
    background: url(../../icons/installWhite.svg);
    background-repeat: no-repeat;
    background-size: 28px;
}

.installableModuleBody.buttons.install:hover {
    background-size: 30px;
}

/*************
 * SCROLLBAR *
 *************/
::-webkit-scrollbar-track {
    background: #f080ae;
}

::-webkit-scrollbar-thumb {
    background: #F9B8D2;
}

/**********
 * CONFIG *
 **********/

#settings>div {
    background-color: #F9B8D2;
}

input[type="checkbox"].ios8-switch:checked+label:before {
    background: #ff85b6;
}

input[type="checkbox"].ios8-switch+label:before {
    background: #fff;
    border: 1px solid #ff85b6;
}

input[type="checkbox"].ios8-switch+label:after {
    background: #fff;
    border: 1px solid #ff85b6;
}

.btn-default {
    color: #000000;
    border: 2px solid #ff85b6;
}

.btn-default:hover {
    color: #000000;
    background: #ff85b6;
    border: 2px solid #ff85b6;
}


/***********
 * CREDITS *
 ***********/


/*************
 * MODAL BOX *
 *************/
.modalbox {
    background-color: rgba(0, 0, 0, 0.4);
}

.modalbox-content {
    background-color: #F9B8D2;
    border-color: #888;
}

.modalbox-button {
    background-color: #F9B8D2;
    color: white;
    border-color: #FFFFFF;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.modalbox-button:hover {
    border-color: #f080ae;
}