/***********
 * GENERAL *
 ***********/

body {
    background: rgb(249, 249, 249);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(249, 249, 249, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(233, 233, 233, 1) 51%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(249, 249, 249, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(233, 233, 233, 1) 51%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(249, 249, 249, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(233, 233, 233, 1) 51%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #292F33;
}

/*************
 * TITLE BAR *
 *************/

#minimize-btn {
    color: #292F33;
}

#minimize-btn:hover {
    color: #E81C4F;
}

#close-btn {
    color: #292F33;
}

#close-btn:hover {
    color: #E81C4F;
}


/********
 * MAIN *
 ********/

ul.tabs li {
    background-color: #E1E8ED;
}

ul.tabs li:hover {
    background-color: #D0D2D4;
}

ul.tabs li.current {
    background: #F5F8FA;
}

.tab-content {
    background: #FFF;
    border: solid 4px #F5F8FA;
}

.loading {}

.loading.icon {
    background: url(../../icons/loadingBlack.svg);
    background-repeat: no-repeat;
    background-size: 50px;
}

/*********
 * PROXY *
 *********/

#startproxy {
    background: #F5F8FA;
}

#startproxy:hover {
    background: #D0D2D4;
}

/********
 * LOGS *
 ********/

.log-contents {
    background-color: #F5F8FA;
    color: #292F33;
}

#clear-logs {
    color: #292F33;
}

#clear-logs:hover {
    color: #E81C4F;
}

/***********
 * MODULES *
 ***********/

ul.ModulesList li {
    background-color: #F5F8FA;
}

#modInfo li {
    background-color: #282A2d;
}

.moduleHeader {
    border-color: #FFF;
    background-color: #e9e9e9;
}

.moduleHeader:hover {
    background-color: #E1E8ED;
}

.moduleHeader.active {
    background-color: #D0D2D4;
}

.moduleHeader.active:hover {
    background-color: #D0D2D4;
}

.moduleBody {}

.moduleBody.buttons {}

.moduleBody.buttons.donate {
    background: url(../../icons/donateBlack.png);
    background-repeat: no-repeat;
    background-size: 28px;
}

.moduleBody.buttons.donate:hover {
    background-size: 30px;
}

.moduleBody.buttons.info {
    background: url(../../icons/infoBlack.svg);
    background-repeat: no-repeat;
    background-size: 25px;
}

.moduleBody.buttons.info:hover {
    background-size: 27px;
}

.moduleBody.buttons.uninstall {
    background: url(../../icons/deleteBlack.png);
    background-repeat: no-repeat;
    background-size: 28px;
}

.moduleBody.buttons.uninstall:hover {
    background-size: 30px;
}

.moduleBody.buttons.updateEnabled {
    background: url(../../icons/updateEnabledBlack.svg);
    background-repeat: no-repeat;
    background-size: 26px;
}

.moduleBody.buttons.updateEnabled:hover {
    background-size: 28px;
}

.moduleBody.buttons.updateDisabled {
    background: url(../../icons/updateDisabledBlack.svg);
    background-repeat: no-repeat;
    background-size: 26px;
}

.moduleBody.buttons.updateDisabled:hover {
    background-size: 28px;
}

.moduleBody.buttons.loadEnabled {
    background: url(../../icons/loadEnabledBlack.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    margin-top: 2px;
}

.moduleBody.buttons.loadEnabled:hover {
    background-size: 26px;
}

.moduleBody.buttons.loadDisabled {
    background: url(../../icons/loadDisabledBlack.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    margin-top: 2px;
}

.moduleBody.buttons.loadDisabled:hover {
    background-size: 26px;
}

/***********************
 * INSTALLABLE MODULES *
 ***********************/

.installableModulesFilters>label>input[type=text] {
    color: #292F33;
    border-color: #D0D2D4;
    background-color: #F5F8FA;
}

.installableModuleHeader {
    border-color: #FFF;
    background-color: #F5F8FA;
}

.installableModuleHeader:hover {
    background-color: #E1E8ED;
}

.installableModuleBody {}

.installableModuleBody.buttons {}

.installableModuleBody.buttons.install {
    background: url(../../icons/installBlack.svg);
    background-repeat: no-repeat;
    background-size: 28px;
}

.installableModuleBody.buttons.install:hover {
    background-size: 30px;
}

/*************
 * SCROLLBAR *
 *************/
::-webkit-scrollbar-track {
    background: #F5F8FA;
}

::-webkit-scrollbar-thumb {
    background: #D0D2D4;
}

/**********
 * CONFIG *
 **********/

#settings>div {
    background-color: #e9e9e9;
}

input[type="checkbox"].ios8-switch:checked+label:before {
    background: #7c7c7c;
}

input[type="checkbox"].ios8-switch+label:before {
    background: #fff;
    border: 1px solid #070707;
}

input[type="checkbox"].ios8-switch+label:after {
    background: #fff;
    border: 1px solid #070707;
}

.btn-default {
    color: #7c7c7c;
    border: 2px solid #7c7c7c;
}

.btn-default:hover {
    color: #d3d3d3;
    background: #7c7c7c;
    border: 2px solid #7c7c7c;
}

/***********
 * CREDITS *
 ***********/


/*************
 * MODAL BOX *
 *************/
.butn {
    background: #d4d4d4;
    background-image: -webkit-linear-gradient(top, #d4d4d4, #e4e4e4);
    background-image: -moz-linear-gradient(top, #d4d4d4, #e4e4e4);
    background-image: -ms-linear-gradient(top, #d4d4d4, #e4e4e4);
    background-image: -o-linear-gradient(top, #d4d4d4, #e4e4e4);
    background-image: linear-gradient(to bottom, #d4d4d4, #e4e4e4);
    color: black;
}

.butn:hover {
    background: #bbbbbb;
}

.butn:active {
    background: #d4d4d4;
}

.modalbox {
    background-color: rgba(0, 0, 0, 0.4);
}

.modalbox-content {
    background-color: #F5F8FA;
    border-color: #888;
}

.modalbox-button {
    background-color: #D0D2D4;
    color: white;
    border-color: #F5F8FA;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.modalbox-button:hover {
    border-color: #D0D2D4;
}